.path-blog header {
	background: url('images/grass.jpg');
	@include hero;

	@include breakpoint($mobile) {
		background-position: 0 -100px;
	}
}

.hero.article {
	background: url('../images/header-bg.png');
}

.blog-view {
	clear: both;
	padding-bottom: 100px;

	&.blog-block {
		margin-top: -50px;
	}

	.views-row {
		clear: both;
		padding-top: 50px;
		border-top: 1px solid $smoke;
		margin-top: 50px;
		position: relative;

		&:first-child {
			border-top: none;
		}

		.views-field-field-image {
			@include center-element;
			width: 200px;
			margin-bottom: 50px;

			@include breakpoint($mobile) {
				float: left;
				margin-left: 0px;
				margin-right: 50px;	
				margin-bottom: 0;
			}

			img {
				@include circle;
				border: 1px solid #ccc;
				border-radius: 110px;
				padding: 10px;
			}
		}

		.views-field-title {
			margin-bottom: 1em;
		}

		.views-field-created {
			font-style: italic;
		}

		.post-body {}

		.views-field-view-node {
			cursor: pointer;
			position: absolute;
			bottom: 0;
			right: 30px;
		}
	}

	a.see-all-posts {
		width: 123px;
		@include button;
		@include center-element;
	}

	#single-post {
		div.article-image img {
			@include circle;
		}
	}
}

.article-spotlight-image {
	display: block;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;

	@include breakpoint($tablet) {
		float: left;
		margin-right: 40px;
		margin-bottom: 40px;
		margin-left: 0;
	}
	
}