#footer-outer-wrapper {
	background: $footer-background;
	color: #fff;
	margin-top: 50px;

	.inner-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.region--footer {
	h1,h2,h3,h4,h5,h6,
	a {
		color: #fff;
		text-decoration: underline;
	}
}

//see ../base/_hexagons.scss for class information
.social-media-links {
	text-align: center;	

	@include breakpoint($tablet) {	
		float: right;
	}

	.social-media-link { //NOT plural
		@extend .hb;
		@extend .hb-xs;
	}

	#twitter-icon {
		@extend .hb-twitter-inv;
		color: $twitter;

		&:hover {
			color: #fff;
		}
	}

	#github-icon, 
	#github-icon:after,
	#github-icon:before {
		@extend .hb-github-inv;
		border-color: #fff;
		background: #373a3c;
		color: #fff;

		&:hover,
		a:hover {
			border-color: #fff;
			background: #fff;
			color: #373a3c;

			&:after,
			&:before {
				border-color: #fff;
				background: #fff;
				color: #373a3c;
			}
		}
	}

	#google-plus-icon {
		@extend .hb-google-plus-inv;
		color: $googlePlus;
	}

	#linkedIn-icon {
		@extend .hb-linkedin-inv;
		color: $linkedIn;

		&:hover {
			color: #fff;
		}
	}
}
