//Default menu styling
#navigation-outer-wrapper {
	width: 100%;
	
	@include breakpoint($tablet) {
		position: absolute;
	}
}

.region--navigation nav {
	text-align: center;
	margin-bottom: 100px;

	ul {
		padding-left: 0;
		text-align: center;
		margin: 0;

		li {
			text-align: center; 
			list-style-type: none;			
			padding-top: 0;
			@include breakpoint($mobile) {
				display: inline-block;
				padding-top: 5px;
			}

			a {
				padding: 10px 30px;
				display: block;
				@include transition(all, 0.2s);
				color: $menu-text-color;
				border-bottom: 1px solid #fff;
				text-shadow: 1px 1px 2px $black;

				&:hover,
				&:active {
					color: $menu-text-hover-color;
					background: $menu-item-hover-background;
					text-shadow: none;
				}

				&.is-active {
					color: $menu-text-color;

					&:hover {
						color: $menu-text-hover-color;
					}
				}
			}
		}
	}
}

.region--footer nav {
	ul {
		margin: 0;

		li {
			list-style-type: none;
			
			&:hover {
				background: transparent;
			}
		}

		li a {
			display: inline-block;
			padding: $menu-item-padding;

			&:hover {
				color: $main;
			}
		}
	}
}