#header-wrapper {
	float: left;
	clear: both;
	overflow: auto;
	margin-top: -25px;
}

header {
	nav {
		text-align: center;
		margin-bottom: 100px;

		ul {
			padding-left: 0;

			li {
				text-align: center; 
				list-style-type: none;			
				@include breakpoint($tablet) {
					display: inline-block;	
				}

				a {
					padding: 10px 30px;
					display: block;
					@include transition(all, 0.2s);
					color: #fff;
					border-bottom: 1px solid #fff;
					text-shadow: 1px 1px 2px $black;

					&:hover,
					&:active {
						color: $blue;
						background: #fff;
						text-shadow: none;
					}
				}
			}
		}
	}

	#responsive-menu-container {
		padding: 10px 30px;

		// @include breakpoint($mobile) {
			display: none;
		// }

		.fa-bars {
			float: right;
		}
	}
}

.hero {
	background-repeat: no-repeat;
	background-size: cover;
	color:#fff;
	margin-top: -100px;
	margin-bottom: 100px;
	max-height: 700px;
	@include box-sizing(border-box);
	padding: 130px 0px 200px 0px;

	@include breakpoint($tablet) {
		padding-top: 300px 
	}

	

	h1,h2,h3 {
		color: #fff;
		text-shadow: 1px 1px 6px #333;
		text-align: center;
	}
}
