.l-header-wrapper,
.l-navigation-wrapper,
.l-main-wrapper {
	padding: $wrapper-padding;
	margin: $wrapper-margin;
}

.l-header-wrapper {
	background: $header-wrapper;
}

.l-navigation-wrapper {
	background: $navigation-wrapper;
}

.l-main-wrapper {
	background: $main-wrapper;
}

.l-region--sidebar-first {
	background: $sidebar-first-background;
}

.l-region--sidebar-second {
	background: $sidebar-second-background;
}